/* Estilo geral para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Container do formulário de login */
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Estilo do formulário de login */
.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Título do formulário */
.login-form h2 {
    text-align: center;
    color: #3a4da1; /* Cor principal, semelhante ao azul do cabeçalho */
    margin-bottom: 20px;
}

/* Estilo dos grupos de input */
.form-group {
    margin-bottom: 20px;
}

/* Estilo dos rótulos */
.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

/* Estilo dos campos de entrada */
.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Cor de borda ao focar */
.form-group input:focus {
    border-color: #3a4da1;
    outline: none;
}

/* Estilo do botão de login */
.login-button {
    width: 100%;
    background-color: #3a4da1; /* Azul principal do cabeçalho */
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efeito de hover no botão */
.login-button:hover {
    background-color: #2b3881; /* Um tom mais escuro do azul principal */
}

